<div class="pagination pagination-centered">
	<{{ list_type }}>
		<li class="{% if not pagination.previous_page %}disabled{% endif %}">
			<a href="{{base_url}}{{pagination.previous_page}}" class="previous">&larr;</a>
		</li>


	{% for page in pagination.pages %}
		<li class="{% if page == pagination.current_page %}active{% endif %}">
			<a href="{{base_url}}{{page}}">{{page}}</a>
		</li>
	{% endfor %}

		<li class="{% if not pagination.next_page %}disabled{% endif %}">
			<a href="{{base_url}}{{pagination.next_page}}" class="next">&rarr;</a>
		</li>
	</{{ list_type }}>
</div>
